<div class="container clw">
    <form [formGroup]="editProducts" (ngSubmit)="updateData()">
      <div class="form-group cls">
        <label>Product Name</label>
        <input type="text" class="form-control" formControlName="pname"  placeholder="Enter Name">
       </div>
       <div class="form-group cls">
        <label>Job</label>
        <input type="text" class="form-control" formControlName="job"  placeholder="Enter Name">
       </div>
       
      <div class="cls">
        <button type="submit" class="btn btn-primary">Update Product</button>
      </div>
    </form>
  </div>