<div class="mt-2 px-md-5">
  <table class="table table-hover" datatable [dtOptions]="dtOptions" *ngIf="this.product">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Job</th>
        <th scope="col">Action</th> 

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of product">
        <td>{{item.pname}}</td>
        <td>{{item.job}}</td>
        <td>
            <a routerLink="/edit/{{item.id}}"> <i class="bi bi-pen"></i></a>
            &nbsp;
            <i (click)="deleteData(item.id)" class="bi bi-trash3"></i>
                  </td>
      </tr>
    </tbody>
  </table>
</div>